@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AKIRA";
  src: url("/Fonts/Akira.otf");
}

@font-face {
  font-family: "codeSaver";
  src: url("/Fonts/codeSaver.otf");
}